.learn-title-nav {
    line-height: 64px;
}

.learn-title-nav a {
    color: #747474;
}

.learn-course-banner-ios {
    height: 100px;
    background: url("http://f.hiphotos.baidu.com/image/pic/item/503d269759ee3d6db032f61b48166d224e4ade6e.jpg");
}

.learn-title-des .learn-title {
    font-size: 24px;
    color: white;
    padding: 13px 0 0 26px;
}

.learn-title-des .learn-des {
    font-size: 14px;
    color: #929191;
    padding: 6px 26px 0 26px;
}

.learn-video {
    width: 100px;
    height: 560px;
}

.learn-video-info {
    height: 84px;
    background: #101213;
    line-height: 84px;
}

.learn-video-info .left {
    width: 50%;
    float: left;
}

.learn-video-info .left p {
    float: left;
    padding-left: 38px;
    font-size: 14px;
}

.learn-video-info .left p a {
    color: #1abc9c;
}

.learn-video-info .right {
    width: 350px;
    height: 84px;
    float: right;
    position: relative;
    margin-right: 40px;
}

.learn-video-info .right .rightnum {
    width: 260px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.learn-video-info .right .rightnum a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: black;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0 6px;
    position: relative;
    line-height: 40px;
}

.learn-video-info .right .rightnum a:hover {
    width: 36px;
    height: 36px;
    border: 2px solid #29bb9c;
    line-height: 36px;
}
